<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression" parallel="tests" thread-count="2">
    <test name="SubHeadMenuItemsTest">
        <classes>
            <class name="org.example.tests.ui.SubHeadMenuItemsTest"/>
        </classes>
    </test>
    <test name="SearchFieldTest">
        <classes>
            <class name="org.example.tests.ui.SearchSuggestionsLayoutTest"/>
        </classes>
    </test>
    <test name="SearchResultTest">
        <classes>
            <class name="org.example.tests.ui.SearchResultTest"/>
        </classes>
    </test>
    <test name="StudentResourcesPageTest">
        <classes>
            <class name="org.example.tests.ui.HeadersOnStudentResourcesPageTest"/>
        </classes>
    </test>
    <test name="SearchSuggestionsApiTest">
        <classes>
            <class name="org.example.tests.api.SearchSuggestionApiTest"/>
        </classes>
    </test>
    <test name="PostDelayApiTest">
        <classes>
            <class name="org.example.tests.api.DelayApiTest"/>
        </classes>
    </test>
    <test name="PNGImageApiTest">
        <classes>
            <class name="org.example.tests.api.PngImageApiTest"/>
        </classes>
    </test>
</suite>
